NWMS_WEB.MVC_4_BS.DataAccess/Service References/WS_PEDIDOS/g5-senior-services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.senior.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="g5-senior-services" targetNamespace="http://services.senior.com.br" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://pinus.nutriplan.com.br:8080/g5-senior-services/sapiens_Syncnutriplan_ven_pedidos?xsd=1" namespace="http://services.senior.com.br" />
    </xsd:schema>
  </types>
  <message name="CancelamentoAutomaticoSim3g">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosCancelamentoAutomaticoSim3GIn" />
  </message>
  <message name="CancelamentoAutomaticoSim3gResponse">
    <part name="result" type="tns:pedidosCancelamentoAutomaticoSim3GOut" />
  </message>
  <message name="RecalcularSaldoBonificacao">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosRecalcularSaldoBonificacaoIn" />
  </message>
  <message name="RecalcularSaldoBonificacaoResponse">
    <part name="result" type="tns:pedidosRecalcularSaldoBonificacaoOut" />
  </message>
  <message name="IntegrarPedidoSim3g">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosIntegrarPedidoSim3GIn" />
  </message>
  <message name="IntegrarPedidoSim3gResponse">
    <part name="result" type="tns:pedidosIntegrarPedidoSim3GOut" />
  </message>
  <message name="RecalcularComissao">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosRecalcularComissaoIn" />
  </message>
  <message name="RecalcularComissaoResponse">
    <part name="result" type="tns:pedidosRecalcularComissaoOut" />
  </message>
  <message name="AprovarPedido_1">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosAprovarPedido1In" />
  </message>
  <message name="AprovarPedido_1Response">
    <part name="result" type="tns:pedidosAprovarPedido1Out" />
  </message>
  <message name="CancelamentoAutomaticoSim3g_1">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosCancelamentoAutomaticoSim3G1In" />
  </message>
  <message name="CancelamentoAutomaticoSim3g_1Response">
    <part name="result" type="tns:pedidosCancelamentoAutomaticoSim3G1Out" />
  </message>
  <message name="IntegrarPedidoSim3g_1">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosIntegrarPedidoSim3G1In" />
  </message>
  <message name="IntegrarPedidoSim3g_1Response">
    <part name="result" type="tns:pedidosIntegrarPedidoSim3G1Out" />
  </message>
  <message name="BloquearPedido_1">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosBloquearPedido1In" />
  </message>
  <message name="BloquearPedido_1Response">
    <part name="result" type="tns:pedidosBloquearPedido1Out" />
  </message>
  <message name="BloquearPedido">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosBloquearPedidoIn" />
  </message>
  <message name="BloquearPedidoResponse">
    <part name="result" type="tns:pedidosBloquearPedidoOut" />
  </message>
  <message name="AprovarPedido">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosAprovarPedidoIn" />
  </message>
  <message name="AprovarPedidoResponse">
    <part name="result" type="tns:pedidosAprovarPedidoOut" />
  </message>
  <message name="PedidoViaOcorrencia">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosPedidoViaOcorrenciaIn" />
  </message>
  <message name="PedidoViaOcorrenciaResponse">
    <part name="result" type="tns:pedidosPedidoViaOcorrenciaOut" />
  </message>
  <message name="ReabilitarPedidoSim3g">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:pedidosReabilitarPedidoSim3GIn" />
  </message>
  <message name="ReabilitarPedidoSim3gResponse">
    <part name="result" type="tns:pedidosReabilitarPedidoSim3GOut" />
  </message>
  <portType name="sapiens_Syncnutriplan_ven_pedidos">
    <operation name="CancelamentoAutomaticoSim3g" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/CancelamentoAutomaticoSim3gRequest" message="tns:CancelamentoAutomaticoSim3g" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/CancelamentoAutomaticoSim3gResponse" message="tns:CancelamentoAutomaticoSim3gResponse" />
    </operation>
    <operation name="RecalcularSaldoBonificacao" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/RecalcularSaldoBonificacaoRequest" message="tns:RecalcularSaldoBonificacao" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/RecalcularSaldoBonificacaoResponse" message="tns:RecalcularSaldoBonificacaoResponse" />
    </operation>
    <operation name="IntegrarPedidoSim3g" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/IntegrarPedidoSim3gRequest" message="tns:IntegrarPedidoSim3g" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/IntegrarPedidoSim3gResponse" message="tns:IntegrarPedidoSim3gResponse" />
    </operation>
    <operation name="RecalcularComissao" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/RecalcularComissaoRequest" message="tns:RecalcularComissao" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/RecalcularComissaoResponse" message="tns:RecalcularComissaoResponse" />
    </operation>
    <operation name="AprovarPedido_1" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/AprovarPedido_1Request" message="tns:AprovarPedido_1" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/AprovarPedido_1Response" message="tns:AprovarPedido_1Response" />
    </operation>
    <operation name="CancelamentoAutomaticoSim3g_1" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/CancelamentoAutomaticoSim3g_1Request" message="tns:CancelamentoAutomaticoSim3g_1" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/CancelamentoAutomaticoSim3g_1Response" message="tns:CancelamentoAutomaticoSim3g_1Response" />
    </operation>
    <operation name="IntegrarPedidoSim3g_1" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/IntegrarPedidoSim3g_1Request" message="tns:IntegrarPedidoSim3g_1" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/IntegrarPedidoSim3g_1Response" message="tns:IntegrarPedidoSim3g_1Response" />
    </operation>
    <operation name="BloquearPedido_1" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/BloquearPedido_1Request" message="tns:BloquearPedido_1" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/BloquearPedido_1Response" message="tns:BloquearPedido_1Response" />
    </operation>
    <operation name="BloquearPedido" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/BloquearPedidoRequest" message="tns:BloquearPedido" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/BloquearPedidoResponse" message="tns:BloquearPedidoResponse" />
    </operation>
    <operation name="AprovarPedido" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/AprovarPedidoRequest" message="tns:AprovarPedido" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/AprovarPedidoResponse" message="tns:AprovarPedidoResponse" />
    </operation>
    <operation name="PedidoViaOcorrencia" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/PedidoViaOcorrenciaRequest" message="tns:PedidoViaOcorrencia" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/PedidoViaOcorrenciaResponse" message="tns:PedidoViaOcorrenciaResponse" />
    </operation>
    <operation name="ReabilitarPedidoSim3g" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/ReabilitarPedidoSim3gRequest" message="tns:ReabilitarPedidoSim3g" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_ven_pedidos/ReabilitarPedidoSim3gResponse" message="tns:ReabilitarPedidoSim3gResponse" />
    </operation>
  </portType>
  <binding name="sapiens_Syncnutriplan_ven_pedidosPortBinding" type="tns:sapiens_Syncnutriplan_ven_pedidos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="CancelamentoAutomaticoSim3g">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="RecalcularSaldoBonificacao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="IntegrarPedidoSim3g">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="RecalcularComissao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="AprovarPedido_1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="CancelamentoAutomaticoSim3g_1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="IntegrarPedidoSim3g_1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="BloquearPedido_1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="BloquearPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="AprovarPedido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="PedidoViaOcorrencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="ReabilitarPedidoSim3g">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
  </binding>
  <service name="g5-senior-services">
    <port name="sapiens_Syncnutriplan_ven_pedidosPort" binding="tns:sapiens_Syncnutriplan_ven_pedidosPortBinding">
      <soap:address location="http://pinus.nutriplan.com.br:8080/g5-senior-services/sapiens_Syncnutriplan_ven_pedidos" />
    </port>
  </service>
</definitions>