NWMS_WEB.MVC_4_BS.DataAccess/Service References/WS_PEDIDOS/sapiens_Syncnutriplan_ven_pedidos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.senior.com.br" targetNamespace="http://services.senior.com.br" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="pedidosCancelamentoAutomaticoSim3GIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="codIlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codLst" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedPal" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosCancelamentoAutomaticoSim3GOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosCancelamentoAutomaticoSim3G1In">
    <xs:sequence>
      <xs:element minOccurs="0" name="codIlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codLst" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedPal" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosCancelamentoAutomaticoSim3G1Out">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosPedidoViaOcorrenciaIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="codTra" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numReg" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosPedidoViaOcorrenciaOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="retorno" nillable="true" type="tns:pedidosPedidoViaOcorrenciaOutRetorno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosPedidoViaOcorrenciaOutRetorno">
    <xs:sequence>
      <xs:element minOccurs="0" name="codEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="numPed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosAprovarPedidoIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="aprovar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="areObs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numPed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usuApr" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosAprovarPedidoOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="liberarPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosBloquearPedido1In">
    <xs:sequence>
      <xs:element minOccurs="0" name="codEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numPed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosBloquearPedido1Out">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedidoBloqueado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosAprovarPedido1In">
    <xs:sequence>
      <xs:element minOccurs="0" name="aprovar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="areObs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="codEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codMot" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numPed" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="usuApr" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosAprovarPedido1Out">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="liberarPedido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosIntegrarPedidoSim3G1In">
    <xs:sequence>
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedPal" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosIntegrarPedidoSim3G1Out">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosIntegrarPedidoSim3GIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedPal" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosIntegrarPedidoSim3GOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosBloquearPedidoIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="codEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numPed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosBloquearPedidoOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedidoBloqueado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosRecalcularSaldoBonificacaoIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NCodEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NCodFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NNumPed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosRecalcularSaldoBonificacaoOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMsgRet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosRecalcularComissaoIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="codEmp" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="codFil" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numPed" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosRecalcularComissaoOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosReabilitarPedidoSim3GIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="codMot" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedPal" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pedidosReabilitarPedidoSim3GOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>