NWMS_WEB.MVC_4_BS.DataAccess/Service References/WS_TITULOS_CLIENTE/g5-senior-services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.senior.com.br" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="g5-senior-services" targetNamespace="http://services.senior.com.br" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://eucalipto.nutriplan.com.br:8080/g5-senior-services/sapiens_Syncnutriplan_cre_titulos?xsd=1" namespace="http://services.senior.com.br" />
    </xsd:schema>
  </types>
  <message name="InserirObsMovimento">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:titulosInserirObsMovimentoIn" />
  </message>
  <message name="InserirObsMovimentoResponse">
    <part name="result" type="tns:titulosInserirObsMovimentoOut" />
  </message>
  <message name="AlterarObsTitulo">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:titulosAlterarObsTituloIn" />
  </message>
  <message name="AlterarObsTituloResponse">
    <part name="result" type="tns:titulosAlterarObsTituloOut" />
  </message>
  <message name="RecalcularComissao">
    <part name="user" type="xsd:string" />
    <part name="password" type="xsd:string" />
    <part name="encryption" type="xsd:int" />
    <part name="parameters" type="tns:titulosRecalcularComissaoIn" />
  </message>
  <message name="RecalcularComissaoResponse">
    <part name="result" type="tns:titulosRecalcularComissaoOut" />
  </message>
  <portType name="sapiens_Syncnutriplan_cre_titulos">
    <operation name="InserirObsMovimento" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_cre_titulos/InserirObsMovimentoRequest" message="tns:InserirObsMovimento" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_cre_titulos/InserirObsMovimentoResponse" message="tns:InserirObsMovimentoResponse" />
    </operation>
    <operation name="AlterarObsTitulo" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_cre_titulos/AlterarObsTituloRequest" message="tns:AlterarObsTitulo" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_cre_titulos/AlterarObsTituloResponse" message="tns:AlterarObsTituloResponse" />
    </operation>
    <operation name="RecalcularComissao" parameterOrder="user password encryption parameters">
      <input wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_cre_titulos/RecalcularComissaoRequest" message="tns:RecalcularComissao" />
      <output wsam:Action="http://services.senior.com.br/sapiens_Syncnutriplan_cre_titulos/RecalcularComissaoResponse" message="tns:RecalcularComissaoResponse" />
    </operation>
  </portType>
  <binding name="sapiens_Syncnutriplan_cre_titulosPortBinding" type="tns:sapiens_Syncnutriplan_cre_titulos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="InserirObsMovimento">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="AlterarObsTitulo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
    <operation name="RecalcularComissao">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </input>
      <output>
        <soap:body use="literal" namespace="http://services.senior.com.br" />
      </output>
    </operation>
  </binding>
  <service name="g5-senior-services">
    <port name="sapiens_Syncnutriplan_cre_titulosPort" binding="tns:sapiens_Syncnutriplan_cre_titulosPortBinding">
      <soap:address location="http://eucalipto.nutriplan.com.br:8080/g5-senior-services/sapiens_Syncnutriplan_cre_titulos" />
    </port>
  </service>
</definitions>