NWMS_WEB.MVC_4_BS.DataAccess/Service References/WS_NOTAS/sapiens_Syncnutriplan_nfv_notafiscal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://services.senior.com.br" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="notafiscalIncluirObservacoesIn">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACodEmp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACodFil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACodSnf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ANumNfv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AObsNfv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowInstanceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notafiscalIncluirObservacoesOut">
    <xs:sequence>
      <xs:element minOccurs="0" name="erroExecucao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensagemRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>